venv
tempCodeRunnerFile
tempCodeRunnerFile.ipynb
type_hints_scope_docstrings.ipynb
OOP.md
python_functions_modules_10_questions.md
.ipynb_checkpoints
Python_Init_Decorators_Recursion.md
lab.txt
Practical3_4_Questions (1).md
Practical3_4_Questions (2).md
__pycache__